# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
